@model TournamentReport.Models.Round

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>




@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Round</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TournamentId, "Tournament")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TournamentId", String.Empty)
            @Html.ValidationMessageFor(model => model.TournamentId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Standings", "Home", new { id = ViewBag.TournamentSlug }, null)
</div>
