@model IEnumerable<Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>Tournaments</h2>


@if (ViewBag.HasEditAccess) {
    <p>@Html.ActionLink("Create New", "Create")</p>
}

<table>
    <tr valign="top">
        <th>Tournament</th>
        @if (ViewBag.HasEditAccess) {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Home/Standings/@item.Slug">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        @if (ViewBag.HasEditAccess) {
            <td>
            
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
    </tr>
}

</table>
