@model TournamentReport.Models.Team

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>




@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Team</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Wins)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Wins)
            @Html.ValidationMessageFor(model => model.Wins)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Losses)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Losses)
            @Html.ValidationMessageFor(model => model.Losses)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ties)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ties)
            @Html.ValidationMessageFor(model => model.Ties)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
