@model TournamentReport.Models.Team

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Team</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Wins</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Wins)
    </div>

    <div class="display-label">Losses</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Losses)
    </div>

    <div class="display-label">Ties</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ties)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Standings", "Standings", "Home", new { id = Model.Tournament.Slug }, null)
    </p>
}
