@model IEnumerable<Team>

@{
    ViewBag.Title = "Index";
    var groupOne = Model.Where(t => t.Group == "Group 1");
    var groupTwo = Model.Where(t => t.Group == "Group 2");
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<fieldset>
    <legend>Total Standings</legend>
    @Html.Partial("Teams", Model);
</fieldset>

<fieldset>
    <legend>Group 1</legend>
    <table>
    
        <tr>
            <th>Name</th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Points</th>
        </tr>
    
    @foreach (var item in groupOne) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
        </tr>
    }
    </table>
</fieldset>

<fieldset>
    <legend>Group 2</legend>
    <table>
    
        <tr>
            <th>Name</th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Points</th>
        </tr>
    
    @foreach (var item in groupTwo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
        </tr>
    }
    </table>
</fieldset>