@model GameCreateModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Game</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamId, "Home Team")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HomeTeamId")
            @Html.ValidationMessageFor(model => model.HomeTeamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamId, "Away Team")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AwayTeamId")
            @Html.ValidationMessageFor(model => model.AwayTeamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoundId, "Round")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RoundId", String.Empty)
            @Html.ValidationMessageFor(model => model.RoundId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Standings", "Home", new { id = ViewBag.TournamentSlug }, null)
</div>
