@model TournamentReport.Models.GameEditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Select the teams</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Game Teams and Time</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamId, "Home Team")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HomeTeamId")
            @Html.ValidationMessageFor(model => model.HomeTeamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamId, "Away Team")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AwayTeamId")
            @Html.ValidationMessageFor(model => model.AwayTeamId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.GameTime, "Game Time")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GameTime)
            @Html.ValidationMessageFor(model => model.GameTime)
            <em>Ex: 1/23/2014 5:00 PM</em>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Standings", "Home", new { id = ViewBag.TournamentSlug }, null)
</div>
