@model TournamentReport.Models.Game

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamScore) (@Model.HomeTeam.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeamScore)
            @Html.ValidationMessageFor(model => model.HomeTeamScore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamScore) (@Model.AwayTeam.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeamScore)
            @Html.ValidationMessageFor(model => model.AwayTeamScore)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.RoundId, "Round")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RoundId", String.Empty)
            @Html.ValidationMessageFor(model => model.RoundId)
        </div>
*@
        @Html.HiddenFor(m => m.RoundId)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
