@model IEnumerable<Game>

@{
    ViewBag.Title = "Index";
    var roundOne = Model.Where(g => g.Round.Id == 1);
    var roundTwo = Model.Where(g => g.Round.Id == 2);
    var roundThree = Model.Where(g => g.Round.Id == 3);
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<fieldset>
    <legend>Round One</legend>

<table>
    <tr>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Round</th>
        <th></th>
    </tr>

@foreach (var item in roundOne) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}
</table>
</fieldset>

<fieldset>
    <legend>Round Two</legend>

<table>
    <tr>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Round</th>
        <th></th>
    </tr>

@foreach (var item in roundTwo) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}
</table>
</fieldset>

<fieldset>
    <legend>Round Three</legend>

<table>
    <tr>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Round</th>
        <th></th>
    </tr>

@foreach (var item in roundThree) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}
</table>
</fieldset>