@model IEnumerable<Game>
           
<table>
    <tr>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Score</th>
        @if (ViewBag.HasEditAccess) {
        <th></th>
        }
    </tr>

@foreach (var game in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => game.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(m => game.HomeTeamScore)
        </td>
        <td>
            @Html.DisplayFor(m => game.AwayTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(m => game.AwayTeamScore)
        </td>

        @if (ViewBag.HasEditAccess) {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = game.Id })
        </td>
        }
    </tr>
}
</table>

