@model IEnumerable<Game>
           
<table>
    <tr>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Score</th>
        @if (ViewBag.HasEditAccess) {
        <th></th>
        }
    </tr>

@foreach (var game in Model) {
    if (game.Teams == null || !game.Teams.Any()) {
        <tr>
            <td colspan="4">
            <em>TBD</em>
            </td>
            @if (ViewBag.HasEditAccess) {
            <td>
                @Html.ActionLink("Specify Teams", "Edit", "Games", new { id = game.Id, tournamentSlug = ViewBag.TournamentSlug }, null)
            </td>
            }
        </tr>
    }
    else {
    <tr>
        <td>
            @Html.DisplayFor(m => game.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(m => game.HomeTeamScore)
        </td>
        <td>
            @Html.DisplayFor(m => game.AwayTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(m => game.AwayTeamScore)
        </td>

        @if (ViewBag.HasEditAccess) {
        <td>
            @Html.ActionLink("Report Score", "ReportScores", "Games", new { id = game.Id, tournamentSlug = ViewBag.TournamentSlug }, null)
        </td>
        }
    </tr>
    }
}
</table>

