@model IEnumerable<Team>

<table>
    <tr>
        <th>Name</th>
        <th>Games Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Goals For</th>
        <th>Goals Against</th>
        <th>Points</th>
        @if (ViewBag.HasEditAccess) {
        <th></th>
        }
    </tr>

@foreach (var team in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelteam => team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.GamesPlayed)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.Wins)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.Losses)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.Ties)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.GoalsScored)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.GoalsAgainst)
        </td>
        <td>
            @Html.DisplayFor(modelteam => team.Points)
        </td>
        @if (ViewBag.HasEditAccess) {
            <td class="actions">
                <a href="@Url.Action("Edit", "Teams", new { id = team.Id, tournamentSlug = team.Tournament.Slug})"><img src="/assets/images/editIcon.png" width="11" height="11" />Edit</a><br />
            </td>
        }
    </tr>
}
</table>
